d#0 Hello world
  d How may I help you?
    d(next=1) I'd like a drink please
    d(next=2) I'd like a snack
    d(next=3) Nothing thanks

d#1 What kind of drink?
  d We have the following drinks available
    d(next=4, if='AVAILABLE_MARTINI', then='GIVE_MARTINI') A martini please!
    d(next=4, if='AVAILABLE_VODKA', then='GIVE_VODKA') A vodka please
    d(next=4) Nothing thanks...

d#2 Sorry, we're all out of snacks
  d(next=4)

d#3 Okay then
  d(next=4)

d#4 bye